<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">

    <a class="navbar-brand" [routerLink]="['/welcome']">{{headerTitle}}</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/welcome']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/books']">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{searchBox}}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input type="text"
               class="form-control mr-sm-2"
               placeholder="Search"
               [(ngModel)]="searchBox"
               name="searchBox">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
