<section class="book-details">
  <ol class="breadcrumb">
    <div class="container">
      <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/books']">All Books</a></li>
      <li class="breadcrumb-item active">{{book?.name}}</li>
    </div>
  </ol>
  <div class="container">


    <div class="row">

      <div class="col-md-4">
        <img class="main-img img-fluid" [src]="book?.imageUrl">
      </div>

      <div class="col-md-8">
        <h2>{{book?.name}} </h2>
        <div class="price text-success">{{book?.price | currency: 'USD' : true}}</div>

        <p>Quanity:
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></p>
        <a href="#" class="btn btn-success">Buy Now</a>
        <br><br><br>

        <div id="accordion" role="tablist" aria-multiselectable="true">

          <!-- DESCRIPTION -->
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne">
                  Description
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                {{ book?.description }}
              </div>
            </div>
          </div>


          <!-- SPECIFICATIONS -->
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                {{ book?.specifications }}
              </div>
            </div>
          </div>

          <!-- RELESE DATE -->
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                  Release Date
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                {{ book?.releaseDate }}
              </div>
            </div>
          </div>

          <!-- RELESE DATE -->
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                   aria-expanded="false" aria-controls="collapseFour">
                  Genre
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="card-block">
                {{ book?.genre }}
              </div>
            </div>
          </div>

        </div> <!-- /accordion -->

      </div>
    </div>
  </div> <!-- /container -->
</section>
