<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome!</h1>
      <p class="lead">Heavens of silence will compassionately respect a popular karma. When one emerges faith and
        tantra, one is able to view surrender.</p>
      <hr class="my-4">
      <p>The honorable milk of relativity is to feel with manifestation.</p>
      <p class="lead">
        <a href="" class="btn btn-primary btn-lg" [routerLink]="['/books']" role="button">Go to All Books</a>
      </p>
    </div>
  </div>
</div>
